table {
    margin: auto;
    padding: 12px;
    border-spacing: 8px;
    border: solid 3px darkgrey;
    background-color:#f8f2d5;
}

td {
    width: 120px;
    height: 120px;
    border: solid 2px rgb(211, 209, 209);
    background-color:#e0d1a0;
}
.gametitle{
    text-align: center;
    font-family: cursive;
    color: rgb(102, 68, 39);
    font-size: 38px;
    /* font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif; */
}
body{
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    text-align: center;
}
.Games{
    font-family: cursive;
	color: rgb(102, 68, 39);
    font-size: 30px; 
}
.important{
    font-family: cursive;
}
.logo{
    width: 100px;
height: 125px;
}